@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

sup {
    vertical-align: super;
    font-size: smaller;
}

:root {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cursive {
    font-family: 'Sacramento', cursive;
}

/* Small devices such as large phones (640px and up) */
/* Default */

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        font-size: 14px;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    :root {
        font-size: 22px;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
    :root {
        font-size: 30px;
    }
}

#app > section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(73, 17, 125);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2n) {
        background-color: linen;
        color: rgb(73, 17, 125);
    }

    &:nth-child(1) {
        align-items: center;
        justify-content: flex-start;
    }

    &:nth-child(3) {
        font-size: 1.75rem;
        line-height: 1;
    }

    h1 {
        line-height: 0.9;
        letter-spacing: -0.25em;
        display: flex;
        flex-direction: column;
        > span:nth-child(1) {
            font-size: 5rem;
        }
        > span:nth-child(2) {
            font-size: 3rem;
        }
        > span:nth-child(3) {
            font-size: 5rem;
        }
    }

    h2 {
        display: flex;
        flex-direction: column;
        text-align: center;

        > span:nth-child(1) {
            @extend .cursive;
            font-size: 3rem;
            line-height: 0.8;
            margin-bottom: 2rem;
            span {
                display: inline-block;
            }
        }
        > span:nth-child(2) {
            font-size: 1.75rem;
        }
    }
}
